<?xml version="1.0" encoding="GBK"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd "
         version="2.5">
    <display-name>evaluatic-example</display-name>
    <!-- Spring -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>WEB-INF/application-context.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <!-- Evaluatic -->
    <servlet>
        <display-name>EvaluaticServlet</display-name>
        <servlet-name>Evaluatic</servlet-name>
        <servlet-class>com.github.safrain.evaluatic.servlet.EvaluaticServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Evaluatic</servlet-name>
        <url-pattern>/run/*</url-pattern>
    </servlet-mapping>

</web-app>
